{% extends "layout.html" %}

{% block title %}
    Change Password
{% endblock %}

{% block main %}
    <div class="alert alert-danger text-center" id="information" style="visibility: hidden">{{ information }}</div>

    <div class="loginBox">
        <img src="/static/login.png" class="avatar" alt="avatar">
        <h1>Change Password</h1>
        <form action="/password" method="POST">
            <p>Password</p>
            <input type="password" autofocus name="password" placeholder="Enter New Password">
            <input type="password" name="confirmation" placeholder="Confirm New Password">
            <p>Date of Birth</p>
            <input type="date" name="year">
            <button class="btn" type="submit">Change Password</button>
        </form>
    </div>
    <script src="/static/buy.js"></script>
    <style>
        .alert {
            position: relative;
            margin-bottom: 0;
            top: -60px;
            height: 42px;
            width: 100%;
        }

        body {
            background-image: url('/static/passwordBackground.jpg');
            background-size: cover;
            background-position: center;
            font-family: sans-serif;
            background-repeat: no-repeat;
            background-attachment: fixed;
        }
    </style>
{% endblock %}